@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Introduction>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}

<section id="intro">

		   <!-- <div class="shadow-overlay"></div> -->
		   
		   <div class="row intro-content">
		   	<div class="col-twelve">

		   		<h3 class="animate-intro">Introducing Elevate</h3>
			  		
					<h1 class="animate-intro">
						The perfect template to
						present your awesome product.
					</h1>	
					
					<div class="buttons">
						<a class="button stroke smoothscroll animate-intro" href="#features" title="">Features</a>
						<a class="button stroke smoothscroll animate-intro" href="#download" title="">Download</a>
					</div>					

					<img src="images/app-screenshot-big.jpg" alt="" class="animate-intro">   			

			  	</div> <!-- /twelve --> 		   			
		   </div> <!-- /row -->   

		</section> <!-- /intro -->