@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Pricing>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}

<section id="pricing">

	   	<div class="row section-intro animate-this">
	   		<div class="col-twelve with-bottom-line">

	   			<h2>Plans and Pricing.</h2>

	   			<p class="lead">Lorem ipsum Tempor do Excepteur nulla aute deserunt reprehenderit aute commodo aliquip laboris velit eu esse exercitation ex fugiat pariatur aute consequat. Lorem ipsum Fugiat mollit quis qui. Lorem ipsum Duis Excepteur Duis magna fugiat incididunt qui id quis dolor nisi irure proident labore ut in incididunt eiusmod est anim.</p>

	   		</div>   		
	   	</div>

	   	<div class="row pricing-content">

	         <div class="pricing-tables block-1-3  group">

	            <div class="bgrid animate-this"> 

	            	<div class="price-block">

	            		<div class="top-part">

		            		<h3 class="plan-title">Starter</h3>
			               <p class="plan-price"><sup>$</sup>4.99</p>
			               <p class="price-month">Per month</p>		             

		            	</div>                

		               <div class="bottom-part">

		            		<ul class="features">
			                  <li><strong>3GB</strong> Storage</li>
			                  <li><strong>10GB</strong> Bandwidth</li>		                  
			                  <li><strong>5</strong> Databases</li>		                  
			                  <li><strong>30</strong> Email Accounts</li>
			               </ul>

			               <a class="button large" href="">Get Started</a>

		            	</div>

	            	</div>           	
	                        
				   </div> <!-- /bgrid -->

	            <div class="bgrid animate-this">

	            	<div class="price-block primary" data-info="popular">

	            		<div class="top-part">

		            		<h3 class="plan-title">Standard</h3>
			               <p class="plan-price"><sup>$</sup>9.99</p>
			               <p class="price-month">Per month</p>							

		            	</div>               

		               <div class="bottom-part">

		            		<ul class="features">
			                  <li><strong>5GB</strong> Storage</li>
			                  <li><strong>15GB</strong> Bandwidth</li>		                  
			                  <li><strong>7</strong> Databases</li>		                  
			                  <li><strong>40</strong> Email Accounts</li>
			               </ul>

			               <a class="button large" href="">Get Started</a>

		            	</div>
	            		
	            	</div>            	                 

				  </div> <!-- /bgrid -->

	           <div class="bgrid animate-this">               

	               <div class="price-block">

	            		<div class="top-part">

		            		<h3 class="plan-title">Premium</h3>
			               <p class="plan-price"><sup>$</sup>29.99</p>
			               <p class="price-month">Per month</p>	                		               

		            	</div> 
		            	
							<div class="bottom-part">

		            		<ul class="features">
			                  <li><strong>10GB</strong> Storage</li>
			                  <li><strong>30GB</strong> Bandwidth</li>		                  
			                  <li><strong>15</strong> Databases</li>		                  
			                  <li><strong>60</strong> Email Accounts</li>
			               </ul>

			               <a class="button large" href="">Get Started</a>

		            	</div>	            		                
	            		
	            	</div>                              

				   </div> <!-- /bgrid -->		           

	         </div> <!-- /pricing-tables --> 

	      </div> <!-- /pricing-content --> 

	   </section> <!-- Pricing -->

