@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProductInfo>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}

<section id="infos">

   		<div class="info-entry">

   			<div class="half-grey"></div>

   			<div class="row info-entry-content">

   				<div class="media-wrap">
   					<div class="media animate-this"  data-animate="fadeInRight">
   						<img src="images/app-screenshot-small.jpg" alt="">
   					</div>   				      				
   				</div>

   				<div class="col-six text-part">   				
   					
   					<h5 class="animate-this" data-animate="fadeInLeft">Some Cool Stuff</h5>
   					<h2 class="animate-this" data-animate="fadeInLeft">Clean and Organized Code</h2>

   					<p class="animate-this" data-animate="fadeInLeft">Lorem ipsum Sunt adipisicing adipisicing esse exercitation consequat sed irure commodo cupidatat aute ea adipisicing consectetur nulla consequat irure consectetur veniam sit sit qui reprehenderit officia sunt nulla elit nisi proident.</p>

   					<a href="#" class="button animate-this" data-animate="fadeInLeft">Learn More</a>
   			 					
   				</div>   				
   				
   			</div> <!-- /info-entry-content -->

   		</div> <!-- /info-entry -->

   		<div class="info-entry">

   			<div class="half-grey"></div>

   			<div class="row info-entry-content">
   			
	            <div class="media-wrap">
	            	<div class="media animate-this" data-animate="fadeInLeft">
	            		<div class="fluid-video-wrapper">
		               <iframe src="http://player.vimeo.com/video/14592941?title=0&amp;byline=0&amp;portrait=0&amp;color=F64B39" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
		            </div>
	            	</div>   				
	   			</div>

	   			<div class="col-six text-part">   				
   					
   					<h5 class="animate-this" data-animate="fadeInRight">Video Stuff</h5>
   					<h2 class="animate-this" data-animate="fadeInRight">Your Super Cool Video</h2>

   					<p class="animate-this" data-animate="fadeInRight">Lorem ipsum Sunt adipisicing adipisicing esse exercitation consequat sed irure commodo cupidatat aute ea adipisicing consectetur nulla consequat irure consectetur veniam sit sit qui reprehenderit officia sunt nulla elit nisi proident.</p>

   					<a href="#" class="button animate-this" data-animate="fadeInRight">Learn More</a>
   			 					
   				</div>

   			</div> <!-- /info-entry-content -->

   		</div> <!-- /info-entry -->

   	</section> <!-- infos -->